.box{
    margin: 15px 0px 0px 0px;
    padding: 10px;
    border: 1px solid black;
}
img{
    width: 350px;
    margin-left: 100px;
}
.title{
    display: block;
}
.info{
    display: inline-block;
}
.picture{
    display: inline-block;
}