<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>US Time Zone Display</title>
  </head>
  <body>
    <h1>US Time Zone Display</h1>
    <div>
        <button (click)="getDate('PST')" [ngClass]="{selected: lastTimeZoneSelected === 'PST'}">PST</button>
        <button (click)="getDate('MST')" [ngClass]="{selected: lastTimeZoneSelected === 'MST'}">MST</button>
        <button (click)="getDate('CST')" [ngClass]="{selected: lastTimeZoneSelected === 'CST'}">CST</button>
        <button (click)="getDate('EST')" [ngClass]="{selected: lastTimeZoneSelected === 'EST'}">EST</button>
    </div>
    <div>
        <h1>{{currentTime | date:'medium'}}</h1>
    </div>


  </body>
</html>
