<div class="maincomp">
  <p id="maintitle">MainComponent</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut blandit cursus ante, et congue nulla posuere vel. Mauris auctor ligula vel pellentesque malesuada. Pellentesque nec scelerisque urna. In vitae dui non arcu molestie varius at eu quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla ac purus nulla.</p>
    
  <p>Phasellus non imperdiet lacus. Cras ac dapibus turpis, a ultricies elit. Cras vitae efficitur purus. In hac habitasse platea dictumst. Ut non neque sed neque euismod congue sit amet a erat. Morbi vel turpis vitae libero varius maximus. Ut sit amet nulla et leo finibus pharetra.</p>
</div>
